<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CountryInfo.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/boostrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
  
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/jquery-datatable/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/lib/jquery-datatable/css/dataTables.responsive.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CountryInfo.Web</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - CountryInfo.Web
        </div>
    </footer>
    <script>
        var currrentYear = '@DateTime.Now.Year'
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/boostrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/jquery-datatable/js/dataTables.responsive.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
